.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .other_input {
    padding: 20px;
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid #2e374a;
    border-radius: 5px;
    width: 45%;
    margin-bottom: 30px;
  }
  
  .submit_button{
    width: 100%;
    padding: 20px;
    background-color: teal;
    color: var(--text);
    border: none;
    margin: 60px 0px 0px 0px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .plus_button{
    width: 90px;
    height: 68px;
    padding: 10px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .total_books_input {
    font-size: 18px;
    width: 200px; 
    height: 70px;
    padding: 20px;
    text-align: center;
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid #2e374a;
    margin: 0px 20px 0px 20px;
    border-radius: 5px; 
  }

  /* .total_books_given{
    margin: 21px 20px 0px 0px;

  } */
  
  .minus_button{
    width: 90px; 
    height: 68px;
    padding: 10px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .issued_book_container {
    margin-bottom: 20px;
  }
  
  .issued_book_input {
    padding: 20px;
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid #2e374a;
    border-radius: 5px;
    width: 72%;
    margin-top: 4px;
  }
  
  .issued_book_button {
    width: 20%;
    margin-left: 10px;
    padding: 20px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .parent_modal_Class {
    margin-top: 10px;
  } 
  
  
  .modal_Class div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal_Class button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 3px;
  }